.card {
    @apply relative;
    height: 290px;
    width: 180px;
}

.content {
    @extend %inherit, %column-between;
    @apply absolute;
    @apply p-card bg-card rounded;
    @apply text-white;

    .buttonlink {
        @apply self-end;
    }

    .title {
        @apply text-card-title;

        &-success {
            @apply text-green;
        }

        &-failed {
            @apply text-red;
        }
    }

    .schedule {
        @extend %items-center-left;
        @apply gap-x-1;
        @apply text-card-helper font-bold;

        div {
            @extend %items-center-left;
            @apply gap-x-0.5;
        }

        .vector {
            max-width: 10px;
        }
    }
}

.media {
    @extend %inherit, %items-center;
    @apply rounded;
    @apply bg-center bg-no-repeat bg-cover;
}
