.card {
    @apply relative;
    height: 290px;
    width: 180px;
}

.content {
    @apply absolute;
    @apply h-inherit w-inherit;
    @apply bg-card rounded;
    @apply flex flex-col justify-between;
    @apply p-card-description;
    @apply text-white;

    .buttonlink {
        @apply self-end;
    }

    .title {
        @apply text-card-description-title;

        &-success {
            @apply text-green;
        }

        &-failed {
            @apply text-red;
        }
    }

    .schedule {
        @apply text-card-description-helper font-bold;
        @apply grid grid-flow-col gap-x-1;

        div {
            @apply grid;
            @apply items-center grid-flow-col;
            @apply gap-x-0.5;

            grid-template-columns: min-content;
        }

        .vector {
            max-width: 10px;
        }
    }
}

.media {
    @apply h-inherit w-inherit;
    @apply rounded;
    @apply grid place-items-center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
