.pagination {
    @extend %items-center;
    @apply text-lg;
    @apply gap-x-1;
    grid-template-columns: max-content min-content max-content;

    @screen sm {
        @apply text-xl;

        img {
            width: 36px;
        }
    }
}

.pages {
    @extend %rown-center;

    div {
        @extend %rown-center;
        height: 24px;
        width: 24px;

        @screen sm {
            height: 36px;
            width: 36px;
        }
    }

    .page-selected {
        @apply text-white;
        @apply bg-blue rounded-circle;
    }
}
