%grid-container {
    @apply grid;
}

%items-center {
    @extend %grid-container;
    @apply place-items-center;
}

%items-center-left {
    @extend %grid-container;
    @apply items-center grid-flow-col;
}

%flex-container {
    @apply flex;
}

%column-between {
    @extend %flex-container;
    @apply flex-col justify-between;
}

%rown-between {
    @extend %flex-container;
    @apply justify-between;
}

%rown-center {
    @extend %flex-container;
    @apply justify-center;
}
