.error {
    display: grid;
    justify-items: center;
    margin: 350px auto 0;
    row-gap: 12px;

    @screen sm {
        margin-top: 250px;
    }

    div {
        display: grid;
        justify-items: center;
    }
}
