@tailwind base;
@tailwind components;
@tailwind utilities;

//- base -> @styles-base
@import '@styles-base/globals';
@import '@styles-base/text';

//- components -> @styles-components
@import '@styles-components/buttonlink';
@import '@styles-components/card';
@import '@styles-components/footer';
@import '@styles-components/gallery';
@import '@styles-components/header';
@import '@styles-components/pagination';

//- pages -> @styles-pages
@import '@styles-pages/about';
@import '@styles-pages/error';
@import '@styles-pages/home';

//- utilities -> @styles-utils
@import '@styles-utils/containers';
